# Annoying OS specific files
.DS_Store

# Prerequisites
*.d

# Secret Photon keys
keys.json

# Node js modules
node_modules

# Hardware stuff
Hardware

# CCS Files
.ccsproject
.cproject
.launches
.project
.settings
lnk_msp430f5529.cmd
targetConfigs
Debug


# Object files
*.o
*.ko
*.obj
*.elf

#Flashable binary files
*.elf
*.hex
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
