.MapContainer {
	position: fixed;
	top: 100px;
	left: 0px;
	width: 100%;
	height: calc(100% - 100px);
	padding: 0;
	opacity: 0;
	transition: all 0.5s;
	pointer-events: none;
	background: white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 300;
}

.MapContainer.Visible {
	opacity: 1 !important;
	pointer-events: all !important;
}

.MapBox {
	position: absolute;
	background: url('../../Graphics/Track.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
}

.MapBox.GlueY {
	top: 0px;
	left: calc(50vw - 100vh + 100px);
	width: calc(200vh - 200px);
	height: calc(100vh - 100px);
}

.MapBox.GlueX {
	top: calc(50vh - 25vw - 50px);
	left: 0px;
	width: calc(100vw);
	height: calc(50vw);
}


.DropZone {
	position: absolute;
	border: dashed 2px #aaa;
}

.StationCircle {
	width: 5%;
	height: 10%;
	margin: 2%;
	border-radius: 300px;
	transform: scale(1);
	transition: all 0.35s;
}
