/*
	Robo Post Web Interface CSS Styles
*/

/*-----General------*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	font-family: "Quicksand", sans-serif;
}

#MainContainer {
	width: 100%;
	height: 100%;
	margin: 0;
}

input[type="range"] {
	width: 300px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	background-color: #222;
	height: 5px;
	border-radius: 10px;
	margin: 22.5px;
	border: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: rgb(80, 211, 251);
	height: 20px;
	width: 20px;
	border-radius: 10px;
	-webkit-transition: all 0.5;
}

input[type="range"]::-webkit-slider-thumb:active {
	-webkit-appearance: none;
	background-color: rgb(80, 211, 251);
	height: 25px;
	width: 25px;
	border-radius: 15px;
}

input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	background-color: rgb(80, 211, 251);
	height: 20px;
	width: 20px;
	border-radius: 10px;
	-webkit-transition: all 0.5;
	border: none;
}

input[type="range"]::-moz-range-thumb:active {
	-moz-appearance: none;
	background-color: rgb(80, 211, 251);
	height: 25px;
	width: 25px;
	border-radius: 15px;
	border: none;
}

input[type="range"]::-moz-range-track {
	background-color: #303030;
	-moz-appearance: none;
	outline: 0px;
	border: 0px;
}

input[type="range"]::-moz-focusring {
	outline: 0px;
	border: 0px;
}

input[type="range"]::-moz-focus-inner {
	border: 0px;
	outline: 0px;
}

input[type="range"]:focus {
	outline: none;
}

#Hero {
	width: 100px;
	display: inline;
}